.App {
  text-align: center;
  height: 100vh;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 950px) {
  .App .mat {
    width: 70%;
  }
}

@media only screen and (max-width: 600px) {
  .App .mat {
    width: 100%;
  }
}
